{% extends 'base_error.html.twig' %}

{% block title %}Erreur inconnue{% endblock %}

{% block body %}
	{{ parent() }}
	<div id="content" class="content" style="text-align: center;">
	    <div style="width: 90%; margin: 1%; float: right;" id="div_droite">
		    <h1 style="color: #078cb5;">Oups</h1>
		    <h2>Il semblerait que nous ayons un problème</h2>
		    <div class="well">
			    <p>
			        Réessayez plus tard, nous sommes en train de réparer
			        ou <a href="{{ path('homepage', {'id': 1}) }}">retournez à la page d'acceuil</a>.
			    </p>
		    </div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}  
	{{ parent() }} 
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}    